@model IEnumerable<PrjFinanceiro.Models.Agencia>

<div class="container mt-5">
    <h2 class="mb-4">Lista de Agências Bancárias -  @ViewBag.nomesenaii</h2>

    <p>
        <a href="/Agencia/Create" class="btn btn-success">Cadastrar Nova Agência</a>
    </p>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Nome da Agência</th>
                <th>Cidade</th>
                <th>Estado (UF)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>                    
                    <td>@item.Codigo</td>
                    <td><a href="/Agencia/Details/@item.Codigo">@item.Nome</a></td>
                    <td>@item.Cidade</td>
                    <td>@item.EstadoUF</td>
                    <td>
                        <a href="/Agencia/Edit/@item.Codigo" class="btn btn-sm btn-primary">Editar</a>
                        <a href="/Agencia/Delete/@item.Codigo" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>